<div class="hero h-full">
  <div class="hero-content text-center">
    <div class="max-w-lg">
      <h1 class="text-5xl font-bold my-5">Game over!</h1>
      <h2 class="text-3xl"><span>@result_text</h2>

      <button class="btn btn-primary my-5" onclick=@play_again>Play again!</button>
    </div>
  </div>
</div>