<div class="hero h-full">
  <div class="hero-content text-center">
    <div class="max-w-lg flex flex-col gap-4">
      <h1 class="text-5xl font-bold">Tic-Tac-Toe!</h1>
      <h4 class="text-xl">Playing against <span>@other_player_name</span></h4>

      <%= r.(TamnoonTtt.Components.Game.TttGrid) %>
    </div>
  </div>
</div>