<div class="hero h-full">
  <div class="hero-content text-center">
    <div class="max-w-lg">
      <h1 class="text-5xl font-bold my-5">Looking for a game..</h1>
      <span class="loading loading-ring loading-xl"></span>
    </div>
  </div>
</div>